<form method="get" action="/quizes">
 	<input type="text" name="search" value=""/>
 	<input type="submit" value="Buscar">
</form>
<br>
<table>
<% if (quizes.length==0) { %>
  <tr><td>No se encontró ninguna pregunta</td></tr>
<% } else { %>

    <% var i; for (i=0; i < quizes.length; i++) { %>
  	    <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
    <% } %>
<% } %>
</table>